.homepage {
  background: rgb(209, 17, 107);
  background: linear-gradient(
    90deg,
    rgba(209, 17, 107, 1) 0%,
    rgba(238, 107, 161, 0.9925012241224614) 39%,
    rgba(255, 179, 0, 1) 100%
  );
}

button {
  background-color: yellow;
  width: 10rem;
  height: 5rem;
}

.btn {
  background: rgb(209, 17, 107);
  background: linear-gradient(
    90deg,
    rgba(209, 17, 107, 1) 0%,
    rgba(238, 107, 161, 0.9925012241224614) 39%,
    rgba(255, 179, 0, 1) 100%
  );
  border-radius: 25px;
  color: white;

  height: 10rem;
  width: 5rem;

  padding: 10px;
}

.btn-card {
  height: 3rem;
  width: 5rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn-holder-left {
  display: flex;
  justify-content: flex-start;
}
.btn-holder-right {
  display: flex;
  justify-content: flex-end;
}
.btn-holder-center {
  display: flex;
  justify-content: center;
}
.btn-action {
  border-radius: 25px;

  height: 3rem;
  width: 7rem;

  padding: 10px;
}

.center-section {
  display: flex;
}
.center-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.card-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.card-para {
  margin-top: 0rem;
}
.card-1 {
  border: 1px solid #e2e8f0;
  margin-right: 2rem;
}
.card-end {
  margin-right: 0;
}

.division {
  background: rgb(209, 17, 107);
  background: linear-gradient(
    90deg,
    rgba(209, 17, 107, 1) 0%,
    rgba(238, 107, 161, 0.9925012241224614) 39%,
    rgba(255, 179, 0, 1) 100%
  );
  height: 5px;
  margin-top: 1rem;
  width: 15rem;
}

.division-pricing-card-2 {
  background-color: rgb(226 232 240);

  width: 20rem;
  height: 10px;
}

.division-pricing-card-2-item {
  background-color: rgb(226 232 240);

  width: 20rem;
  height: 1px;
}

.division-title-card-item {
  background-color: rgb(226 232 240);
  width: 100%;
  height: 1px;
}

.division-middle-card {
  background-color: aqua;
  width: 10rem;
  height: 20px;
}

.division-grey {
  background-color: #cbd5e1;
  width: 10rem;
  height: 2px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-column {
  display: flex;
}

.footer-column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  margin-top: 1rem;
}

.heading,
.para {
  padding: 1rem;
}

.holder {
  padding: 2rem;
}
.homepage-img {
  width: 90%;
  height: 100%;
}
.img-flex {
  height: 20rem;
  width: 20rem;
}

.middle-card {
  border: none;
  box-shadow: 5px 5px 8px #888888;
  box-shadow: 5px 10px 18px red;
  box-shadow: 0 0 15px 10px #888888;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  margin: 5rem 0;
  height: 28rem;
  height: 30rem;

  width: 20rem;
}

.mg-left {
  margin-left: 5rem;
}

.mg-right {
  margin-right: 5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-item-1 {
  display: flex;
  justify-content: flex-start;
}

.navigation-item-2 {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
}
.no-mg {
  margin-top: 0;
}

.landing-img {
  height: 2rem;
  width: 2rem;
  /* margin-left: 2rem; */
}

.pricing-card-2 {
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 25rem;
  width: 20rem;
  padding: 2rem;
  margin: 5rem 0;

  position: relative;
}

.middle-card {
  border: none;
  box-shadow: 5px 5px 8px #888888;
  box-shadow: 5px 10px 18px red;
  box-shadow: 0 0 15px 10px #888888;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  margin: 5rem 0;
  height: 28rem;

  width: 20rem;
}

.pricing-rate {
  padding: 2rem;
}

.section-4 {
  background-color: rgb(226 232 240);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-5 {
  height: 2rem;
  width: 100%;
}
.section-6 {
  background: rgb(209, 17, 107);
  background: linear-gradient(
    90deg,
    rgba(209, 17, 107, 1) 0%,
    rgba(238, 107, 161, 0.9925012241224614) 39%,
    rgba(255, 179, 0, 1) 100%
  );

  height: 20rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul > li {
  padding: 1rem;
  text-align: center;
}
